docs

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# 환경 변수
.env
.env.local

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# 로그 및 임시 파일
*.log
*.tmp
*.tmp

#chroma db
rag/chroma_db/
*.sqlite3

#docs for embeddig
documents/

#extract disorders
rag/extract_disorders.py

temp